<html>
<head>
    <title>이미지 업로드 테스트?</title>
</head>
<body>
<form method="POST" action="/images/upload" enctype="multipart/form-data">
    <input type="text" name="name" id="name">
    <div><input type="file" name="images" multiple="multiple"></div>
    <div><input type="file" name="images" multiple="multiple"></div>
    <div><input type="file" name="images" multiple="multiple"></div>
    <button type="submit" name="create">등록</button>
</form>
</body>
</html>
